:root {
    --main-text-color: darkslateblue;
    --main-font: Georgia, "Times New Roman", Times, serif;
    --main-font-size: 18px;
    --main-background: lightgoldenrodyellow;
  }
  
  body {
    color: var(--main-text-color);
    background-color: var(--main-background);
    text-align: center;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    margin: 0 auto;
  }
  h1 {
    font-size: 35px;
    margin-top: 50px;
  }
  h2 {
    font-size: 25px;
  }
  h5 {
    font-size: 26px;
    font-weight: bold;
    color: plum;
    border-bottom: white;
   
  }
  section {
    padding: 60px;
    
  }
  button {
    width: 200px;
    border: 1px solid lightslategray;
    background-color: whitesmoke;
    color: blue;
  }
  button:hover a,
  button:focus a {
    color: whitesmoke;
  }
  a {
    text-decoration: none;
  }
  button:hover,
  button:focus {
    background-color: blue;
    border: 1px solid white;
  }
  ul {
    list-style: none;
    padding: 0;
  }

  image {
    display: block;
  }
  
  .buttons {
    margin-bottom: 100px;
    gap: 10px;
    justify-content: center;
  }
  .personal-information {
    display: flex;
    justify-content: space-between;
  }

  .my-logo {
    font-size: 30px;
    background-color: whitesmoke;
    margin-right: 50px;
  }
  .project-img {
    background-color: azure;
  }
  .weather {
    outline: 1px solid white;
    padding: 20px;
    margin-top: 40px;
   
  }
  .weather-tittle {
    color: rgb(185, 215, 241);
  }
  .section-projects {
    text-align: start;
  }
.works-list {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.greeting {
  background-color: deepskyblue;
  background-image: url("/image/bgr.jpeg");
  background-size: cover;

}
.card-header {
  font-size: 40px;
}
.card-title,
.card-text {
  font-size: 32px;
}
.project-img {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width:768px) {
  .project-img {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.project-weather {
background-color: aliceblue;
}
.projects__thumb {
  flex-direction: baseline;
}
.project__tittle--nomargin {
  margin-top: 0px;
}
.footer {
  background-image: url("/image/bgr.jpeg");
  padding: 30px;
}
/* About-me page */

.pessonal-infirmation__list {
  /* width: 300px; */
  justify-content: center;
  margin-top: 30px;
  background-color: white;
}
.networks-item {
  border-radius: 50%;
  border-color: aliceblue;
}
.personal-information__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.pessonal-infirmation__icon {
  width: 30px;
  height: 30px;
  border-color: aliceblue;
  background-color:white;
  fill: rgb(156, 156, 239);
  border-radius: 50%;
}
.pessonal-infirmation__icon:hover,
.pessonal-infirmation__icon:focus {
  background-color: rgb(156, 156, 239);
  fill: white;
}

.pessonal-infirmation__icon--reverse {
  background-color: rgb(156, 156, 239);
  fill: white;
}
.pessonal-infirmation__icon--reverse:hover,
.pessonal-infirmation__icon--reverse:focus {
  background-color:white;
  fill:  rgb(156, 156, 239);
}
.instagram {
 fill: white;
 background-color: rgb(156, 156, 239);
  
}
@media screen and (min-width:768px) {
.pessonal-infirmation {
  justify-content: space-between;
}
}
.contacts-block {
  justify-content: center;
}